@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto/Roboto-Light.ttf");
}

body {
    background-color: #1C2127;
    color: white;
    font-family: "Roboto-Regular";
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.background-header {
    background-color: #22282f;
    color: rgb(255, 255, 255);
    padding: 5px 0 0 20px;
}

a {
    text-decoration: none;
    color: #0088FF;
}

a:hover {
    background-color: #075A00;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.condensed {
    margin: 5px;
}

.small-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media(max-width: 600px){
    body{
        font-size: 24px;
    }
}

/* Start of Header */
.header-img {
    height: 5cm;
    width: 100%;
    /*background-size: cover;*/
    overflow: hidden;
}

.header > h1 {
    border: none;
    background: transparent;
    font-weight: bold;
    margin-top: -135px;
}

.header > h2 {
    border: none;
    background: transparent;
    font-weight: bold;
    margin-top: 125px;
}

.header-end {
    border: none;
    background: transparent;
    margin-top: 125px;
}

/* End of Header */

/* Start of Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 13px;
}
  
/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #293038; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #22272e; 
}

/* End of Scrollbar */