@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(61, 65, 68);
    font-family: roboto;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}

a {
    text-decoration: none;
    color: rgb(0, 160, 253);
}

a:hover {
    background-color: green;
    border-radius: 5px;
}

.background-header {
    background-color: rgb(51, 54, 57);
    color: rgb(255, 255, 255);
    padding: 5px 0 0 20px;
}

.center {
    text-align: center;
}

.idk {
    margin: 0 20px 0 0;
    display: inline-block;
}

.normalsize-h1 {
    font-size: 40px;
}

.hover-purblu:hover {
    background-color: rgb(53, 51, 214);
    border-radius: 5px;
}

.no-hover:hover {
    background-color: transparent;
}

.box1 {
    background-color: rgb(51, 54, 57);
    width: 400px;
    height: 700px;
}

.box2 {
    background-color: rgb(56, 61, 65);
    width: 500px;
}

html {
    scroll-behavior: smooth;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
} 

.a {
    background-color: green;
    border: none;
}

.button-center {
    text-align: center;
}

@media screen and (max-width: 400px) {
    .mobile {
        font-size: 15px;
    }
}